<div {{ attributes }}>
    {% if isInWishlist == false %}
        <div>
            <button
                    class="btn btn-primary"
                    type="button"
                    data-action="live#action:prevent"
                    data-live-action-param="addToWishlist"
            >
                {{ ux_icon('tabler:heart', {'class': 'icon'}) }}
            </button>
        </div>
    {% else %}
        <div>
            <button
                    class="btn btn-secondary"
                    type="button"
                    disabled
            >
                {{ ux_icon('tabler:heart-filled', {'class': 'icon'}) }}
            </button>
        </div>
    {% endif %}
</div>
