<div {{ attributes }}>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div>
         <button
             class="btn btn-primary"
             type="button"
             data-action="live#action:prevent"
             data-live-action-param="addToWishlist"
        >
            Add to wishlist
        </button>
    </div>
</div>
